body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
@font-face{
  font-family: 'font_2';
  src:url(../fonts/BrockScript.ttf);
} 
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../img/b1.jpg");
    min-height: 100%;    
}

.w3-inline{
	display: inline;
}

#top{
	max-width: 70%;
	margin: 0 auto;
	text-align: center;	
}

#welcomeMsg{
  margin: 0 auto;
  width:100%;
  font-family: "font_2";
  font-size: 32px;  
  text-align: center;
  font-weight: bold;
  color: black;
}

.foodImg img{
	width: 200px;
}
.w3-padding{
	padding:30px;
}

.nounderline{
  text-decoration: none;
}

.foodList::-webkit-scrollbar {
    width: 1em;
}
 
.foodList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.foodList::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}